.button:hover,
.centric-pro-home .dark-section .accent:hover,
.footer-widgets .wrap .accent:hover {
	background-color: #ddd!important;
	color: #2e2f33!important;
}

.home-widgets-6,
.site-wide-cta {
	background-color: #2e2f33;
}

.front-page-cta,
.before-footer,
#appointment,
.home .widget_caldera_forms_widget .btn.button {
	background-color: #13afdf;
}

.home .home-featured,
.home .home-widgets-2,
.home .home-widgets-3,
.home .home-widgets-4,
.home .home-widgets-5 {
	border-bottom: 80px solid #13afdf;
}

.accent,
input[type="submit"], 
.caldera-grid .btn.button,
.centric-pro-home .dark-section .accent,
.footer-widgets .wrap .accent,
.home .widget_caldera_forms_widget {
	background-color: #F6851D;
}

.entry-content #appointment,
.sidebar #appointment,
.site-wide-cta,
.front-page-cta,
.home .widget_caldera_forms_widget .btn.button {
	color: #fff;
}

.centric-pro-charcoal .front-page-cta,
.centric-pro-charcoal .before-footer,
.centric-pro-charcoal #appointment,
.centric-pro-charcoal.home .widget_caldera_forms_widget .btn.button {
	background-color: #656d78;
}

.centric-pro-charcoal.home .home-featured,
.centric-pro-charcoal.home .home-widgets-2,
.centric-pro-charcoal.home .home-widgets-3,
.centric-pro-charcoal.home .home-widgets-4,
.centric-pro-charcoal.home .home-widgets-5 {
	border-color: #656d78;
}

.centric-pro-green .front-page-cta,
.centric-pro-green .before-footer,
.centric-pro-green #appointment,
.centric-pro-green.home .widget_caldera_forms_widget .btn.button {
	background-color: #37bc9b;
}

.centric-pro-green.home .home-featured,
.centric-pro-green.home .home-widgets-2,
.centric-pro-green.home .home-widgets-3,
.centric-pro-green.home .home-widgets-4,
.centric-pro-green.home .home-widgets-5 {
	border-color: #37bc9b;
}

.centric-pro-orange .front-page-cta,
.centric-pro-orange .before-footer,
.centric-pro-orange #appointment,
.centric-pro-orange.home .widget_caldera_forms_widget .btn.button {
	background-color: #e9573f;
}

.centric-pro-orange.home .home-featured,
.centric-pro-orange.home .home-widgets-2,
.centric-pro-orange.home .home-widgets-3,
.centric-pro-orange.home .home-widgets-4,
.centric-pro-orange.home .home-widgets-5 {
	border-color: #e9573f;
}

.centric-pro-orange .accent,
.centric-pro-orange .button.accent,
.centric-pro-orange input[type="submit"], 
.centric-pro-orange .caldera-grid .btn.button,
.centric-pro-orange.home .widget_caldera_forms_widget {
	background-color: #358ca1;
}

.centric-pro-purple .front-page-cta,
.centric-pro-purple .before-footer,
.centric-pro-purple #appointment,
.centric-pro-purple.home .widget_caldera_forms_widget .btn.button {
	background-color: #987197;
}

.centric-pro-purple.home .home-featured,
.centric-pro-purple.home .home-widgets-2,
.centric-pro-purple.home .home-widgets-3,
.centric-pro-purple.home .home-widgets-4,
.centric-pro-purple.home .home-widgets-5 {
	border-color: #987197;
}

.centric-pro-purple .accent,
.centric-pro-purple .button.accent,
.centric-pro-purple input[type="submit"], 
.centric-pro-purple .caldera-grid .btn.button,
.centric-pro-purple.home .widget_caldera_forms_widget {
	background-color: #37bc9b;
}

.centric-pro-red .front-page-cta,
.centric-pro-red .before-footer,
.centric-pro-red #appointment,
.centric-pro-red.home .widget_caldera_forms_widget .btn.button {
	background-color: #e14d43;
}

.centric-pro-red.home .home-featured,
.centric-pro-red.home .home-widgets-2,
.centric-pro-red.home .home-widgets-3,
.centric-pro-red.home .home-widgets-4,
.centric-pro-red.home .home-widgets-5 {
	border-color: #e14d43;
}

.centric-pro-red .accent,
.centric-pro-red .button.accent,
.centric-pro-red input[type="submit"], 
.centric-pro-red .caldera-grid .btn.button,
.centric-pro-red.home .widget_caldera_forms_widget {
	background-color: #358ca1;
}

.centric-pro-yellow.home .widget_caldera_forms_widget,
.centric-pro-yellow .front-page-cta,
.centric-pro-yellow .before-footer,
.centric-pro-yellow #appointment,
.centric-pro-yellow.home .widget_caldera_forms_widget .btn.button {
	background-color: #f6bb42;
}

.centric-pro-yellow.home .home-featured,
.centric-pro-yellow.home .home-widgets-2,
.centric-pro-yellow.home .home-widgets-3,
.centric-pro-yellow.home .home-widgets-4,
.centric-pro-yellow.home .home-widgets-5 {
	border-color: #f6bb42;
}

.centric-pro-yellow .accent,
.centric-pro-yellow .button.accent,
.centric-pro-yellow input[type="submit"], 
.centric-pro-yellow .caldera-grid .btn.button,
.centric-pro-yellow.home .widget_caldera_forms_widget {
	background-color: #358ca1;
}

button.cf-uploader-trigger:hover {
	background-color:#ccc;
}